<a href="https://colab.research.google.com/github/Go2Cod/Python_Learning/blob/main/Ejercicios_basicos_python_coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comprobar la version de python**

In [ ]:
import sys
print(sys.version)

3.10.11 (main, Apr  5 2023, 14:15:10) [GCC 9.4.0]

**Escribir un comentario en python** 

Se usa #

In [ ]:
# practica escribiendo comentarios en python
print("hola Python")
# print('hi') # esta si esta comentado no se imprimira

hola Python

**Does Python know about your error before it runs your code?**

Python is what is called an interpreted language. Compiled languages examine your entire program at compile time, and are able to warn you about a whole class of errors prior to execution. In contrast, Python interprets your script line by line as it executes it. Python will stop executing the entire program when it encounters an error (unless the error is expected and handled by the programmer, a more advanced subject that we'll cover later on in this course).

Try to run the code in the cell below and see what happens:

In [ ]:
# Print string and error to see the running order

print("This will be printed")
frint("This will cause an error")
print("This will NOT be printed")

This will be printed

NameError: ignored

# **Types of objects in Python**

Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0).

In [ ]:
# usamos type para saber el tipo de dato que es
type (12)

int

In [ ]:
type (2.14)

In [ ]:
type("Hello world")

In [ ]:
my_variable="hola picha"
type(my_variable)

str

**Converting from one object type to a different object type**

You can change the type of the object in Python; this is called typecasting.

In [ ]:
# Convert 2 to a float

float(2)

2.0

In [ ]:
# Convert integer 2 to a float and check its type

type(float(2))

In [ ]:
# Convert a string into an integer

int('1')

In [ ]:
# Convert an integer to a string

str(1)

**Boolean data type**

In [ ]:
# Value true

True

In [ ]:
# Value false

False

In [ ]:
# Type of True

type(True)

bool

In [ ]:
# Convert True to int

int(True)

1

In [ ]:
# Convert 0 to boolean

bool(0)

# **Expression and Variables**

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [ ]:
# Addition operation expression

43 + 60 + 16 + 41

# Subtraction operation expression

50 - 60

# Multiplication operation expression

5 * 5

# Division operation expression

25 / 5

# Integer division operation expression

25 // 5

# Integer division operation expression

25 // 6

**Variables**

Just like with most programming languages, we can store values in <i>variables</i>, so we can use them later on. For example:

In [ ]:
# Store value into variable

x = 43 + 60 + 16 + 41

# **String Operations**

In [ ]:
# Use quotation marks for defining string

"Michael Jackson"

# Use single quotation marks for defining string

'Michael Jackson'

# Digitals and spaces in string

'1 2 3 4 5 6 '

In [ ]:
# Print the string

print("hello!")

In [ ]:
# Assign string to variable

name = "Michael Jackson"
name

**Indexing**

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

*Name = " Michael Jackson"*

In [ ]:
name = "Michael Jackson"
print(name[0])

print(name[6])

M
l

**Negative Indexing**

egative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [ ]:
name = "Michael Jackson"

# Print the last element in the string
print(name[-1])

# Print the first element in the string
print(name[-15])

n
M

**Slicing**


We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

In [1]:
name = "Michael Jackson"

# Take the slice on variable name with only index 0 to index 3

name[0:4]

# Take the slice on variable name with only index 8 to index 11

name[8:12]

'Jack'

**Stride**

We can also input a stride value as follows, with the '2' indicating that we are selecting every second variable:

In [2]:
name = "Michael Jackson"

# Get every second element. The elments on index 1, 3, 5 ...

name[::2]

# Get every second element in the range from index 0 to index 4

name[0:5:2]

'McalJcsn'

**Concatenate Strings**

In [ ]:
name = "Michael Jackson"
statement = name + "is the best"
statement

'Michael Jacksonis the best'

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

In [ ]:
# Concatenate strings

name = "Michael Jackson"
name = name + " is the best"
name

**Escape Sequences**

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

 Michael Jackson
 is the best

In [ ]:
# Tab escape sequence

print(" Michael Jackson \t is the best" )

In [ ]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

 Michael Jackson \ is the best

**String Operation**

In [ ]:
# Convert all the characters in string to upper case

a = "Thriller is the sixth studio album"
print("before upper:", a)
b = a.upper()
print("After upper:", b)

before upper: Thriller is the sixth studio album
After upper: THRILLER IS THE SIXTH STUDIO ALBUM

In [ ]:
# Convert all the characters in string to lower case
a = "MICHAEL JACKSON IS THE BEST"
print("Before lower:", a)
b = a.lower()
print("After lower:", b)

In [ ]:
a = "Michael Jackson is the best"
b = a.replace('Michael', 'Janet')
b

 **Replace the old substring with the new target substring**

In [ ]:
# Replace the old substring with the new target substring by removing some punctuations.

a = "Hello! Michael Jackson has: 12 characters."
print(a)
b = a.replace('!','').replace(':','').replace('.','')
print(b)

Hello! Michael Jackson has: 12 characters.
Hello Michael Jackson has 12 characters

In [ ]:
text="El tiempo en 'Algodonales' es hoy lluvioso"
print(text)
my_pueblo = "Los Barrios"
texto_2=text.replace("Algodonales",my_pueblo)
print(texto_2)

El tiempo en 'Algodonales' es hoy lluvioso
El tiempo en 'Los Barrios' es hoy lluvioso

**Find the substring in the string**

In [3]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

name = "Michael Jackson"
name.find('el')

5

In [ ]:
# If cannot find the substring in the string

name.find('Jasdfasdasdf')

Ejemplo ejercicio mio mezclando cosas

In [ ]:
frase= " tu todo lo que dices es una mierda y oscuridades"
frase.find('mierda') # Esta linea nos dice que mierda enpieza en la posicion 29
frase[frase.find('mierda'):frase.find('mierda')+6] # Usando Slice podemos coger los caracteres
                                                  #De la posicion 29 a mas 6, es la palabra en si mierda

'mierda'

**RegEx**

in Python, RegEx (short for Regular Expression) is a **tool for matching and handling strings**

Python provides a built-in module called re, which allows you to work with regular expressions. First, import the **re module**

In [ ]:
import re

s1 = "Michael Jackson is the best"

# Define the pattern to search for
pattern = r"Jackson"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.

\d 	  Matches any digit character (0-9) 	"123" matches "\d\d\d"


\D  	Matches any non-digit character 	"hello" matches "\D\D\D\D\D"

\w 	  Matches any word character (a-z, A-Z, 0-9, and _) 	"hello_world" 
matches "\w\w\w\w\w\w\w\w\w"

\W 	  Matches any non-word character 	"@#$%" matches "\W\W\W\W"

\s 	  Matches any whitespace character (space, tab, newline, etc.) 	"hello world" matches "\w\s\w\w\w\w\w"

\S 	  Matches any non-whitespace character 	"hello_world" matches "\S\S\S\S\S\S\S\S\S"

\b 	  Matches the boundary between a word character and a non-word character 	"cat" matches "\bcat\b" in "The cat sat on the mat"

\B 	  Matches any position that is not a word boundary 	"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"

In [ ]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [ ]:
a_buscar= "mierda"
text=" Todo lo que has dicho es falso y tu lo sabes muy bien, toda esa mierda y tu lo sabes"

resultado=re.search(a_buscar, text)

if resultado:
  print("Lo he encontrado!!",resultado.group())
  print('esta en la posicion:',text.find('mierda'))
else:
  print("No he encontrado nada de lo que me dices")

Lo he encontrado!! mierda
esta en la posicion: 65

In [ ]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

Matches: [',', ' ', '!']

In [ ]:
#The findall() function finds all occurrences of a specified pattern within a string.

s2 = "Michael Jackson was a singer and known as the 'King of Pop'"


# Use the findall() function to find all occurrences of the "as" in the string
result = re.findall("as", s2)

# Print out the list of matched words
print(result)

['as', 'as']

In [ ]:
a_buscar= "mierda"
text=" Todo lo que has dicho es falso y tu lo sabes muy bien, toda esa mierda y tu lo sabes que la mierda no es buena"

resultado=re.search(a_buscar, text)

if resultado:
  print("Lo he encontrado!!",resultado.group())
  #print('esta en la posicion:',text.find('mierda'))
  
  result=re.findall("mierda",text)
  print(result)
  numero_apariciones=len(result)#nos dice el tamaño del array donde se han guardado lo que ha encontrado
  print('ha aparecido estas veces:',numero_apariciones)
else:
  print("No he encontrado nada de lo que me dices")

Lo he encontrado!! mierda
['mierda', 'mierda']
ha aparecido estas veces: 2

A regular expression's **split()** function splits a string into an array of substrings based on a specified pattern.

The **sub function** of a regular expression in Python is used to replace all occurrences of a pattern in a string with a specified replacement.

In [ ]:
# Define the regular expression pattern to search for
pattern = r"King of Pop"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)

Michael Jackson was a singer and known as the 'legend'

In [ ]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s2)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['Michael', 'Jackson', 'was', 'a', 'singer', 'and', 'known', 'as', 'the', "'King", 'of', "Pop'"]

# **LIST AND TUPLES**

**Tuples** are an ordered sequence and are written as comma-separated elemnts within parentsis.

Ej: Ratings =( 10,9,6,7,5,2).

Tuples can be of diferent types like String, Int , Float Ej: Tuple1=("Disco", 10, 1.2)  

Tuple1[0]: "Disco"
Tuple [1]:10
Tuple1[2]:1.2

**List** are aldo ordered sequences and is represented with square brackets

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

Ej: L=["Michael Jackson", 10.1,1982] and are mutable we can change a item
Ej: L[0]= "Paco" esto implica L es ["Paco", 10,1, 1982]

**List Content**

Lists can contain strings, floats, and integers. We can nest other lists, and we can also nest tuples and other data structures. The same indexing conventions apply for nesting:

In [ ]:
# Sample List

["Michael Jackson", 10.1, 1982, [1, 2], ("A", 1)]

**List operations**

In [ ]:
# Sample List

L = ["Michael Jackson", 10.1,1982,"MJ",1]
L

['Michael Jackson', 10.1, 1982, 'MJ', 1]

In [ ]:
# List slicing

L[3:5]

Each time we apply a method, the list changes. If we apply **extend** we add two new elements to the list. The list L is then modified by adding two new elements:

In [ ]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

f we **append** the list ['a','b'] we have one new element consisting of a nested list:

In [ ]:
# Use append to add elements to list

L = [ "Michael Jackson", 10.2]
L.append(['pop', 10])
L

['Michael Jackson', 10.2, ['pop', 10]]

As lists are mutable, we can change them. For example, we can change the first element as follows:

In [ ]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

We can also delete an element of a list using the **del** command:

In [ ]:
# Delete the element based on the index

print('Before change:', A)
del(A[0])
print('After change:', A)

We can convert a string to a list using **split**. For example, the **method split** translates every group of characters separated by a space into an element in a list:

In [ ]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

We can use the split function to separate strings on a specific character which we call a delimiter. We pass the character we would like to split on into the argument, which in this case is a comma. The result is a list, and each element corresponds to a set of characters that have been separated by a comma:

In [ ]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

**Copy and Clone List**

In [ ]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

You can clone list A by using the following syntax:

In [ ]:
# Clone (clone by value) the list A

B = A[:]
B

**Tuples in Python**

In Python, there are different data types: string, integer, and float. These data types can all be contained in a tuple as follows:

In [ ]:
# Create your first tuple

tuple1 = ("disco",10,1.2 )
tuple1

# Print the type of the tuple you created

type(tuple1)

tuple

In [ ]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

In [ ]:
# Use negative index to get the value of the last element

tuple1[-1]

**Concatenate Tuples**

In [ ]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

**Slicing Tuples**

In [ ]:
# Slice from index 0 to index 2

tuple2[0:3]

In [ ]:
# Slice from index 3 to index 4

tuple2[3:5]

In [ ]:
# Get the length of tuple

len(tuple2)

**Sorting**

In [ ]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [ ]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

**NEsted Tuple**

In [ ]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple, including other tuples, can be obtained via an index as shown in the figure:

In [ ]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

We can use the second index to access other tuples as demonstrated in the figure:

In [ ]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

We can access strings in the second nested tuples using a third index:

In [ ]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

Find the first **index** of "disco":

In [ ]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 

genres_tuple.index("disco")

7

# **DICTIONARIES**

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary. **Keys can only be strings, numbers, or tuples, but values can be any data type.**


The best example of a dictionary can be accessing person's detais using the social security number.
Here the social security number which is a unique number will be the key and the details of the people will be the values associated with it.

In [ ]:
# Create the dictionary

Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [ ]:
#Access to the value by the key
Dict["key1"]

1

Each key is separated from its value by a colon **":"** Commas separate the items, and the whole dictionary is enclosed in curly braces. **An empty dictionary** without any items is written with just two curly braces, like this "**{}**".

In [ ]:
# Create a sample dictionary

release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [ ]:
# Get value by key

release_year_dict['The Bodyguard']

'1992'

retrieve the keys of the dictionary using the **method keys():**

In [ ]:
# Get all the keys in dictionary

release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

You can retrieve the values using the **method values():**

In [ ]:
# Get all the values in dictionary

release_year_dict.values()

**We can add an entry:**

In [ ]:
# Append value with key into dictionary

release_year_dict['Graduation'] = '2007'
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977',
 'Graduation': '2007'}

We can **verify if an element is in the dictionary**: Devuelve un boolean true or false. Con lo cual lo podemos usar en un if or cosas asi...

In [ ]:
'The Bodyguard' in release_year_dict

True

**Delete** an entry

In [ ]:
# Delete entries by key

del(release_year_dict['Thriller'])
del(release_year_dict['Graduation'])
release_year_dict

# **SETS**  Conjuntos

A set is a unique collection of objects in Python. **You can denote a set with a pair of curly brackets {}**. Python will automatically remove duplicate items:

In [ ]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

You can also **create a set from a list** as follows:

In [ ]:

album_list = [ "Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
album_set = set(album_list)             
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop, Rock, R&B',
 'Thriller'}

**Set operations**

In [ ]:
# Sample set

A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
# Add element to set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

 If we add the same element twice, nothing will happen as there can be no duplicates in a set:

In [ ]:
# Try to add duplicate element to the set

A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

We can verify if an element is in the set using the in command:

In [ ]:
# Verify if the element is in the set

"AC/DC" in A

True

**Sets Logic Operations**

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:

In [ ]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

In [ ]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

You can **find** the **intersect** of two sets as follow using &:

In [ ]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

You can **find** all the elements that are only contained in album_set1 using the difference method:

In [ ]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

The elements in album_set2 but not in album_set1 is given by:

In [ ]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

You can also find the **intersection** of album_list1 and album_list2, using the intersection method:

In [ ]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

The **union** is given by:

In [ ]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

And you can check if a **set** is a **superset** or **subset** of another set, respectively, like this:

In [ ]:
# Check if superset

set(album_set1).issuperset(album_set2)

In [ ]:
# Check if subset

set(album_set2).issubset(album_set1)

In [ ]:
# Check if subset

set({"Back in Black", "AC/DC"}).issubset(album_set1)

# **CONDITIONS IN PYTHON**

**Comparasion Operators**

Comparison operations compare some value or operand and based on a condition, produce a Boolean. When comparing two values you can use these operators:

    equal: ==
    not equal: !=
    greater than: >
    less than: <
    greater than or equal to: >=
    less than or equal to: <=

**Branching**

Branching allows us to run different statements for different inputs. It is helpful to think of an **if statement** as a locked room, if the statement is **True** we can enter the room and your program will run some predefined tasks, but if the statement is **False** the program will ignore the task.

In [ ]:
# If statement example

age = 19
#age = 18

#expression that can be true or false
if age > 18:
    
    #within an indent, we have the expression that is run if the condition is true
    print("you can enter" )

#The statements after the if statement will run regardless if the condition is true or false 
print("move on")

In [ ]:
# Else statement example

age = 18
# age = 19

if age > 18:
    print("you can enter" )
else:
    print("go see Meat Loaf" )
    
print("move on")

In [ ]:
# Elif statment example

age = 18

if age > 18:
    print("you can enter" )
elif age == 18:
    print("go see Pink Floyd")
else:
    print("go see Meat Loaf" )
    
print("move on")

In [ ]:
# Condition statement example

album_year = 1983
#album_year = 1970

if album_year > 1980:
    print("Album year is greater than 1980")
else:
    print("less than 1980")

print('do something..')

In [ ]:
# Condition statement example

album_year = 1980

if(album_year > 1979) and (album_year < 1990):
    print ("Album year was in between 1980 and 1989")
    
print("")
print("Do Stuff..")

In [ ]:
# Condition statement example

album_year = 1990

if(album_year < 1980) or (album_year > 1989):
    print ("Album was not made in the 1980's")
else:
    print("The Album was made in the 1980's ")

# **LOOPS**

**Range**

Sometimes, you might want to repeat a given operation many times. Repeated executions like this are performed by loops. We will look at two types of loops, for loops and while loops.

Before we discuss loops lets discuss the range object. It is helpful to think of the range object as an ordered list. For now, let's look at the simplest case. If we would like to generate an object that contains elements ordered from 0 to 2 we simply use the following command:

In [ ]:
# Use the range

range(3)

range(0, 3)

**What is for loop?**

The for loop enables you to execute a code block multiple times. For example, you would use this if you would like to print out every element in a list.
Let's try to use a for loop to print all the years presented in the list dates:

This can be done as follows:

In [ ]:
# For loop example

dates = [1982,1980,1973]
N = len(dates)

for i in range(N):
    print(dates[i])

1982
1980
1973

In [ ]:
# Example of for loop

for i in range(0, 8):
    print(i)

0
1
2
3
4
5
6
7

In Python we can **directly access** the elements in the list as follows:

In [ ]:
# Exmaple of for loop, loop through list

for year in dates:  
    print(year)

1982
1980
1973

We can change the elements in a list:

In [ ]:
# Use for loop to change the elements in list

squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

We can access the index and the elements of a list as follows:

In [ ]:
# Loop through the list and iterate on both index and element value

squares=['red', 'yellow', 'green', 'purple', 'blue']

for i, square in enumerate(squares):
    print(i, square)

0 red
1 yellow
2 green
3 purple
4 blue

**What is while loop?**

As you can see, the for loop is used for a controlled flow of repetition. However, what if we don't know when we want to stop the loop? What if we want to keep executing a code block until a certain condition is met? The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a False boolean value.

Let’s say we would like to iterate through list dates and stop at the year 1973, then print out the number of iterations. This can be done with the following block of code:

In [ ]:
# While Loop Example

dates = [1982, 1980, 1973, 2000]

i = 0
year = dates[0]

while(year != 1973):    
    print(year)
    i = i + 1
    year = dates[i]
    

print("It took ", i ,"repetitions to get out of loop.")

1982
1980
It took  2 repetitions to get out of loop.

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i=0
while squares[i] == 'orange':
    new_squares.append(squares[i])
    i=i+1
print (new_squares)

Your little brother has just learned multiplication tables in school. Today he has learned tables of 6 and 7. Help him memorise both the tables by printing them using for loop.

In [ ]:
print("Multiplication table of 6:")
for i in range (10):
    print("6*",i,"=",6*i)
print("Multiplication table of 7:")
for i in range (10):
    print("7*",i,"=",7*i)

Use while loop to iterate over the elements of the list. Use if-else statement inside the for loop to check the length of each element and if the length is 7, add the element to a new list.

In [ ]:
Animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
New = []
i=0
while i<len(Animals):
    j=Animals[i]
    if(len(j)==7):
        New.append(j)
    i=i+1
print(New)

['giraffe', 'gorilla', 'parrots']

# **FUNCTIONS**

What is a Function?

You can define functions to provide the required functionality. Here are simple rules to define a function in Python:

    Functions blocks begin def followed by the function name and parentheses ().
    There are input parameters or arguments that should be placed within these parentheses.
    You can also define parameters inside these parentheses.
    There is a body within every function that starts with a colon (:) and is indented.
    You can also place documentation before the body.
    The statement return exits a function, optionally passing back a value.

An example of a function that adds on to the parameter a prints and returns the output as b:

In [ ]:
def add(a):
    """
    add 1 to a
    """
    b = a + 1
    print(a, "if you add one", b)
    return(b)

We can obtain help on add function

In [ ]:
help(add)

Help on function add in module __main__:

add(a)
    add 1 to a

we can call the function

In [ ]:
add(1)

1 if you add one 2

2

We can create different functions. For example, we can create a function that multiplies two numbers. The numbers will be represented by the variables a and b:

In [ ]:
# Define a function for multiple two numbers

def Mult(a, b):
    c = a * b
    return(c)
    print('This is not printed')
    
result = Mult(12,2)
print(result)

24

In [ ]:
# Use mult() multiply two integers

Mult(2, 3)

6

In [ ]:
# Use mult() multiply two floats

Mult(10.0, 3.14)

31.400000000000002

In [ ]:
# Use mult() multiply two different type values together

Mult(2, "Michael Jackson ")

'Michael Jackson Michael Jackson '

# **EXCEPTION HANDLING**

**Try...Except Statement**

A try except will allow you to execute code that might raise an exception and in the case of any exception or a specific one we can handle or catch the exception and execute specific code. This will allow us to continue the execution of our program even if there is an exception.

Python tries to execute the code in the try block. In this case if there is any exception raised by the code in the try block, it will be caught and the code block in the except block will be executed. After that, the code that comes after the try except will be executed.

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a2
Success a= 0.5

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
    
# code that will execute if there is no exception or a one that we are handling

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")

**Try...Except...Else Statement**

else allows one to check if there was no exception when executing the try block. This is useful when we want to execute something only if there were no errors.

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
    
# code that will execute if there is no exception or a one that we are handling

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)

**Try...Except...Else..Finally Statement**

finally allows us to always execute something even if there is an exception or not. This is usually used to signify the end of the try except.

In [ ]:
# potential code before try catch

try:
    # code to try to execute
except ZeroDivisionError:
    # code to execute if there is a ZeroDivisionError
except NameError:
    # code to execute if there is a NameError
except:
    # code to execute if ther is any exception
else:
    # code to execute if there is no exception
finally:
    # code to execute at the end of the try except no matter what
    
# code that will execute if there is no exception or a one that we are handling

In [ ]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
except ZeroDivisionError:
    print("The number you provided cant divide 1 because it is 0")
except ValueError:
    print("You did not provide a number")
except:
    print("Something went wrong")
else:
    print("success a=",a)
finally:
    print("Processing Complete")

# **OBJETCs**

In [ ]:
# Create a class Circle

class Circle(object):
    
    # Constructor
    def __init__(self, radius=3, color='blue'):
        self.radius = radius
        self.color = color 
    
    # Method
    def add_radius(self, r):
        self.radius = self.radius + r
        return(self.radius)

Creating a instance of a class Circle. Let’s create the object RedCircle of type Circle to do the following:

In [ ]:
RedCircle = Circle(10, 'red')

We can use the **dir** command to get a list of the object's methods. Many of them are default Python methods.

In [ ]:
dir(RedCircle)

**EJEMPLO MAS COMPLECO CLASES Y OBJETOS**


1. String in lower case: You want to Pre-process the customer feedback by converting all the text to lowercase. This step helps standardize the text. Lower casing the text allows you to focus on the content rather than the specific letter casing.

2. Frequency of all words in a given string: After converting the text to lowercase, you want to determine the frequency of each word in the customer feedback. This information will help you identify which words are used more frequently, indicating the key aspects or topics that customers are mentioning in their reviews. By analyzing the word frequencies, you can gain insights into the most common issues raised by customers.

3. Frequency of a specific word: In addition to analyzing the overall word frequencies, you want to specifically track the frequency of a particular word that is relevant to your analysis. For example, you might be interested in monitoring how often the word "reliable" appears in the customer reviews to gauge customer sentiment about the product's reliability. By focusing on the frequency of a specific word, you can gain a deeper understanding of customer opinions or preferences related to that particular aspect.

By performing these tasks on the customer feedback dataset, you can gain valuable insights into customer sentiment

In [ ]:
class analysedText(object):
    
    def __init__ (self, text):
        # remove punctuation
        formattedText = text.replace('.','').replace('!','').replace('?','').replace(',','')
        
        # make text lowercase
        formattedText = formattedText.lower()
        
        self.fmtText = formattedText
        
    def freqAll(self):        
        # split text into words
        wordList = self.fmtText.split(' ')
        
        # Create dictionary
        freqMap = {}
        for word in set(wordList): # use set to remove duplicates in list
            freqMap[word] = wordList.count(word)
        
        return freqMap
    
    def freqOf(self,word):
        # get frequency map
        freqDict = self.freqAll()
        
        if word in freqDict:
            return freqDict[word]
        else:
            return 0

In [ ]:
Click here for the solution

analyzed = analysedText(givenstring)

In [ ]:
print("Formatted Text:", analyzed.fmtText)

In [ ]:
freqMap = analyzed.freqAll()
print(freqMap)